<app-header></app-header>


<p-toast></p-toast>


<div *ngIf="!submitted">

  <h2 style="text-align: center" class="secondaryHeader">
      Reset Password
  </h2>

   <form #enterPasswordForm="ngForm" (ngSubmit)="keyNewPassword(enterPasswordForm)" style="height: 10%">
      <table style="margin: 0 auto" cellspacing="20px">
              <tr>
                  <td>Company Email</td>
                      <td>
                          <input pInputText id="emailCompany" name="emailCompany" #emailCompany="ngModel" type="text"
                              [(ngModel)]="email" required="true" class="bodyText, inputWidth" />
                      </td>
              </tr>

              <tr>
                  <td>Given OTP</td>
                      <td>
                          <input pInputText id="otpPin" name="otpPin" #otpPin="ngModel" type="text"
                              [(ngModel)]="otp" required="true" class="bodyText, inputWidth" />
                      </td>
              </tr>

              <tr>
                  <td>New Password</td>
                      <td>
                          <p-password id="password" name="password" #password="ngModel" type="text"
                              [(ngModel)]="newPassword" required="true" [toggleMask]="true" class="bodyText, inputWidth"></p-password>
                      </td>
              </tr>

              <tr>
                  <td>Re-enter password</td>
                      <td>
                          <p-password id="password" name="password" #password="ngModel" type="text"
                              [(ngModel)]="repeatNewPassword" required="true" [toggleMask]="true" class="bodyText, inputWidth"></p-password>
                      </td>
              </tr>

      </table>


      <div style="text-align: center">
        <input pInputText type="submit" value="Reset Password" />
      </div>
     
  </form>

</div>



<div *ngIf="submitted" style="text-align: center">  
   <p>
    You have successfully reset your password!
    </p>

    <p-button (click)="backToHome()">Home Page</p-button>

</div>

     

