<app-header></app-header>


<p-toast></p-toast>

<h2 style="text-align: center" class="pageHeader">Key New Password</h2>
<br />

 <form
      #enterPasswordForm="ngForm"
      (ngSubmit)="keyNewPassword(enterPasswordForm)"
      style="height: 10%"
    >
      <div style="text-align: center; margin: 0 auto">
        <table width="70%" style="border-spacing: 0 23px">
        
        <tr>
            <td class="bodyText">Company Email:</td>
            <td>
              <input pInputText id="emailCompany" name="emailCompany" #emailCompany="ngModel" type="text"
                    [(ngModel)]="email" required="true" class="bodyText, inputWidth" />
            </td>

              <td>
                <div *ngIf="
                emailCompany.invalid &&
                (emailCompany.dirty || emailCompany.touched || submitted)
              " class="errorText">
                    <div *ngIf="emailCompany.errors != null && emailCompany.errors.required">
                        Email is required.
                    </div>
                </div>
            </td>

        </tr>



          <tr>
            <td class="bodyText">Given OTP:</td>
            <td>
              <input pInputText id="otpPin" name="otpPin" #otpPin="ngModel" type="text"
                    [(ngModel)]="otp" required="true" class="bodyText, inputWidth" />
            </td>

            <td>
                <div *ngIf="
                otpPin.invalid &&
                (otpPin.dirty || otpPin.touched || submitted)
              " class="errorText">
                    <div *ngIf="otpPin.errors != null && otpPin.errors.required">
                       OTP is required. 
                    </div>
                </div>
            </td>
          </tr>

          <tr>
            <td class="bodyText">New Password:</td>
            <td>
              <p-password
                id="password"
                name="password"
                #password="ngModel"
                type="text"
                [(ngModel)]="newPassword"
                required="true"
                [toggleMask]="true"
                class="bodyText, inputWidth"
              ></p-password>
            </td>
          </tr>

          <tr>
            <td class="bodyText">Repeat New Password:</td>
            <td>
              <p-password
                id="password"
                name="password"
                #password="ngModel"
                type="text"
                [(ngModel)]="repeatNewPassword"
                required="true"
                [toggleMask]="true"
                class="bodyText, inputWidth"
              ></p-password>
            </td>
          </tr>
        </table>
      </div>

      <div style="text-align: center">
        <input pInputText type="submit" value="Reset Password" />
      </div>

</form>
