<header class="header">
  <p-menubar [model]="items">
    <aside id="loginbox" class="loginbox">
      <div *ngIf="sessionService.getIsLogin() == false">
        <label for="username">Username </label>
        <input
          type="text"
          [(ngModel)]="email"
          size="16"
          required
          maxlength="32"
        />
        &nbsp;
        <label for="password">Password </label>
        <input
          type="password"
          [(ngModel)]="password"
          size="16"
          required
          maxlength="32"
        />
        &nbsp;
        <p-button
          label="Login"
          type="button"
          (click)="companyLogin()"
        ></p-button>

        &nbsp;
        <p-button
          label="Forget Password"
          type="button"
          routerLink="/password/forgetPassword"
        ></p-button>
      </div>

      <div *ngIf="loginError == true" style="text-align: right; color: red">
        {{ errorMessage }}
      </div>

      <div *ngIf="sessionService.getIsLogin() == true">
        <div class="p-col-12 p-md-4">
          <div class="card">
            <p-avatar
              styleClass="p-mr-2 p-avatar p-component p-avatar-circle p-avatar-lg"
              size="xlarge"
              shape="circle"
              [style]="{
                'background-color': 'rgb(33, 150, 243)',
                color: 'rgb(255, 255, 255)'
              }"
              ><img
                src="https://primefaces.org/primeng/showcase/assets/showcase/images/primeng-logo-dark.svg" />
              <p-splitButton [model]="accounts"></p-splitButton
            ></p-avatar>
          </div>
        </div>
        You are login as {{ sessionService.getCompany().companyEmail }}
      </div>
    </aside>
  </p-menubar>
</header>
