<app-header></app-header>
<h1 style="text-align:center;" class="pageHeader">About Us</h1>
<p class="bodyText"
    style="letter-spacing:1px; width:60%;line-height:2.5; margin-left:auto; margin-right:auto; font-family: sans-serif; text-align: justify;">
    Moolah was founded by a group of University students who recognized the difficulty in deciding which financial
    products are truly beneficial for them. As such, when given the opportunity to work on a project, they decided to
    create Moolah to facilitate youths in their financial planning process.

    Along the way, many challenges were faced as it was their first time working on such a large-scale project. In fact,
    due to the limited financial knowledge that they possess, it made it even tougher. However, after much research and
    hard work, they have finally succeeded in meeting their goals.

    Moolah hopes to provide a platform for youths to make wise and informed decisions for themselves.
</p>
<app-footer></app-footer>