.category-badge.type-ENDOWMENT{background-color:#c8e6c9;color:#256029}
.category-badge.type-TERMLIFE{background-color:#ffcdd2;color:#c63737}
.category-badge.type-WHOLELIFE{background-color:#b3e5fc;color:#23547b}
