<app-header></app-header>

<p-toast></p-toast>

<h2 style="text-align: center" class="pageHeader">View Product Details</h2>

<div style="text-align: center">
<span *ngIf="retrieveProductError == true" style="color:red;">Product ID {{productId}} does not exist!</span>
</div>

<div *ngIf = "retrieveProductError == false">
<form #updateProductForm="ngForm" (ngSubmit)="updateProduct(updateProductForm)" style="height: 10%">
    <br/>
    <p-button *ngIf="!isDeleted" type="button" (click)="deleteProduct()" style="margin-left: 45%; ">Delete Product</p-button>
    <div *ngIf="isDeleted" style="text-align: center;">
        <br/>
        <h4>Product has been successfully deleted!</h4>
        <p-button type="button" (click)="backToHome()" style="text-align: center;">Back to Home</p-button>
    </div>
    <br />

    <div *ngIf="!isDeleted">
           <table style="border-spacing: 0 23px; margin-left: 30%; width: 70% ">
            <tr>
                <td style="font-weight: bold; width: 30%" class="bodyText">
                    Product Name
                </td>
                <input pInputText id="productName" name="productName" #productName="ngModel" type="text"
                    [(ngModel)]="productToView.productName" required="true" class="bodyText, inputWidth"
                    [disabled]="toggleProductName"
                    ngClass="{'bodyText, inputWidth'} : false, {'bodyText, inputWidth'} : true" />
                <p-button *ngIf="toggleProductName" type="button" (click)="saveProductName()">Edit</p-button>
            </tr>

            <tr>
                <td style="font-weight: bold; width: 30%" class="bodyText">
                    Product Description
                </td>
                <input pInputText id="productDescription" name="productDescription" #productDescription="ngModel"
                    type="text" [(ngModel)]="productToView.description" required="true" class="bodyText, inputWidth"
                    [disabled]="toggleProductDescription"
                    ngClass="{'bodyText, inputWidth'} : false, {'bodyText, inputWidth'} : true" />
                <p-button *ngIf="toggleProductDescription" type="button" (click)="saveProductDescription()">Edit
                </p-button>
            </tr>

            <tr>
                <td style="font-weight: bold; width: 30%" class="bodyText">
                    Product Coverage Term
                </td>
                <td>
                    <input pInputText id="productCoverage" name="productCoverage" #productCoverage="ngModel" type="text"
                        [(ngModel)]="productToView.coverageTerm" required="true" class="bodyText, inputWidth"
                        [disabled]="toggleCoverageTerm"
                        ngClass="{'bodyText, inputWidth'} : false, {'bodyText, inputWidth'} : true" />
                    <p-button *ngIf="toggleCoverageTerm" type="button" (click)="saveCoverageTerm()">Edit
                    </p-button>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold; width: 30%" class="bodyText">
                    Product Assured Sum
                </td>
                <td>
                    <input pInputText id="productAssured" name="productAssured" #productAssured="ngModel" type="text"
                        [(ngModel)]="productToView.assuredSum" required="true" class="bodyText, inputWidth"
                        [disabled]="toggleAssuredSum"
                        ngClass="{'bodyText, inputWidth'} : false, {'bodyText, inputWidth'} : true" />
                    <p-button *ngIf="toggleAssuredSum" type="button" (click)="saveAssuredSum()">Edit
                    </p-button>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 30%" class="bodyText">
                    Product Premium Term
                </td>
                <td>
                    <input pInputText id="productPremiumTerm" name="productPremiumTerm" #productPremiumTerm="ngModel"
                        type="text" [(ngModel)]="productToView.premiumTerm" required="true" class="bodyText, inputWidth"
                        [disabled]="togglePremiumTerm"
                        ngClass="{'bodyText, inputWidth'} : false, {'bodyText, inputWidth'} : true" />
                    <p-button *ngIf="togglePremiumTerm" type="button" (click)="savePremiumTerm()">Edit
                    </p-button>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 30%" class="bodyText">Average Interest Rate</td>
                <td>
                    <input pInputText id="productAvgInterest" name="productAvgInterest" #productAvgInterest="ngModel"
                        type="text" [(ngModel)]="productToView.averageInterestRate" required="true"
                        class="bodyText, inputWidth" [disabled]="toggleAverageInterestRate"
                        ngClass="{'bodyText, inputWidth'} : false, {'bodyText, inputWidth'} : true" />
                    <p-button *ngIf="toggleAverageInterestRate" type="button" (click)="saveAverageInterestRate()">Edit
                    </p-button>
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold; width: 30%" class="bodyText">Policy Currency Value</td>
                <td>
                    <select id="policyCurrencyList" name="policyCurrencyList" [(ngModel)]="productToView.policyCurrency"
                        (change)="selectChangeHandlerCurrency($event)" required="true" #policyCurrencyList="ngModel"
                        style="float: left; ">
                        <option value="SGD"> SGD </option>
                        <option value="USD"> USD </option>
                        <option value="NZD"> NZD </option>
                        <option value="EUR"> EUR </option>
                        <option value="GBP"> GBP </option>
                        <option value="MYR"> MYR </option>
                        <option value="HKD"> HKD </option>
                        <option value="RMB"> RMB </option>
                    </select>
                </td>

            </tr>


            <tr>
                <td style="font-weight: bold; width: 20%" class="bodyText">Is Available To Smoker</td>
                <td>
                    <select id="smokerBoolean" name="smokerBoolean" [(ngModel)]="productToView.isAvailableToSmoker"
                        required="true" #smokerBoolean="ngModel">
                        <option [ngValue]="true"> Yes </option>
                        <option [ngValue]="false"> No </option>
                    </select>&nbsp;

                </td>

            </tr>

            <tr>
                <td style="font-weight: bold; width: 20%" class="bodyText">Product Type</td>
                <td>
                    <p>{{productType}}</p>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 20%" class="bodyText">Product Type (Specific)</td>
                <td>
                    <p>{{productEnumType}}</p>
                </td>
            </tr>
        </table>

        <br /><br />

        <div style="text-align: center;">
            <h2 class="secondaryHeader">Additional Features</h2>
            <br />
            <p-button *ngIf="toggleAdditionalFeatures" type="button" (click)="saveAdditionalFeatures()">Edit</p-button>

            &nbsp; &nbsp;
            <br />
            <p-button *ngIf="!toggleAdditionalFeatures" label="Add Feature" type="button"
                (click)="handleClickAddFeature()">
            </p-button>

        </div>

<div style="margin-left: 10%; width: 80%"  >
        <p-table id="tableFeature" [value]="productToView.listOfAdditionalFeatures" style="text-align: center">
            <ng-template pTemplate="header">
                <tr>
                    <th>S/N</th>
                    <th>Feature name</th>
                    <th>Feature Description</th>
                    <th>Action</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-prod let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>

                    <td>
                        <input pInputText id="featureName" name="featureName_{{rowIndex}}" #featureName="ngModel"
                            type="text" [(ngModel)]="prod.featureName" required="true" class="bodyText, inputWidth" />
                    </td>
    
                    <td>
                        <input pInputText id="featureDescription" name="featureDescription_{{rowIndex}}"
                            #featureDescription="ngModel" type="text" [(ngModel)]="prod.featureDescription"
                            required="true" class="bodyText, inputWidth" />
                    </td>

                    <td>
                        <p-button label="Delete" type="button" (click)="handleClickRemoveFeature(rowIndex)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div style="text-align: center;">
            <br />
            <h2 class="secondaryHeader">Riders For Product</h2>
            <br />
            <p-button *ngIf="toggleRider" type="button" (click)="saveRider()">Edit</p-button> &nbsp; &nbsp;
            <p-button *ngIf="!toggleRider" label="Add Rider" type="button" (click)="handleClickAddRider()"></p-button>
        </div>
</div>


<div style="margin-left: 10%; width: 80%"  >
        <p-table id="tableRider" [value]="productToView.listOfRiders" style="text-align: center">
            <ng-template pTemplate="header">
                <tr>
                    <th>S/N</th>
                    <th>Rider name</th>
                    <th>Rider Premium Value</th>
                    <th>Rider Description</th>
                    <th>Action</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rider let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>

                    <td>
                        <input pInputText id="riderName" name="riderName_{{rowIndex}}" #riderName="ngModel" type="text"
                            [(ngModel)]="rider.riderName" required="true" class="bodyText, inputWidth" />
                    </td>

                    <td>
                        <input pInputText id="riderPremiumValue" name="riderPremiumValue_{{rowIndex}}"
                            #riderPremiumValue="ngModel" type="number" [(ngModel)]="rider.riderPremiumValue"
                            required="true" class="bodyText, inputWidth" />
                    </td>

                    <td>
                        <input pInputText id="riderDescription" name="riderDescription_{{rowIndex}}"
                            #riderDescription="ngModel" type="text" [(ngModel)]="rider.riderDescription" required="true"
                            class="bodyText, inputWidth" />
                    </td>
                   
                    <td>
                        <p-button label="Delete" type="button" (click)="handleClickRemoveRider(rowIndex)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div style="text-align: center;">
            <br />
            <h2 class="secondaryHeader">Premium For Product</h2>
            <br />
            <p-button *ngIf="togglePremium" type="button" (click)="savePremium()">Edit</p-button> &nbsp; &nbsp;
            <p-button *ngIf="!togglePremium" label="Add Premium" type="button" (click)="handleClickAddPremium()">
            </p-button>
        </div>
</div>

<div style="margin-left: 10%; width: 80%"  >
        <p-table id="tablePremium" [value]="productToView.listOfPremium" style="text-align: center">
            <ng-template pTemplate="header">
                <tr>
                    <th>S/N</th>
                    <th>Min Age Group</th>
                    <th>Max Age Group</th>
                    <th>Premium Value</th>
                    <th>Action</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-premium let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>

                    <td>
                        <input pInputText id="minAge" name="minAge_{{rowIndex}}" #minAge="ngModel" type="number"
                            [(ngModel)]="premium.minAgeGroup" required="true" class="bodyText, inputWidth" />
                    </td>

                    <td>
                        <input pInputText id="maxAge" name="maxAge_{{rowIndex}}" #maxAge="ngModel" type="number"
                            [(ngModel)]="premium.maxAgeGroup" required="true" class="bodyText, inputWidth" />
                    </td>

                    <td>
                        <input pInputText id="premiumValue" name="premiumValue_{{rowIndex}}" #premiumValue="ngModel"
                            type="number" [(ngModel)]="premium.premiumValue" required="true"
                            class="bodyText, inputWidth" />
                    </td>

                    <td>
                        <p-button label="Delete" type="button" (click)="handleClickRemovePremium(rowIndex)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
</div>

        <br />
        <div *ngIf="productToView.isAvailableToSmoker == true">

            <div style="text-align: center;">
                <h2 class="secondaryHeader">Smoker Premium For Product</h2>
                <br />
                <p-button *ngIf="toggleSmokerPremium" type="button" (click)="saveSmokerPremium()">Edit</p-button> &nbsp;
                &nbsp;
                <p-button *ngIf="!toggleSmokerPremium" label="Add Premium" type="button"
                    (click)="handleClickAddSmokerPremium()"></p-button>
                <br />
            </div>

<div style="margin-left: 10%; width: 80%"  >
            <p-table id="tableSmokerPremium" [value]="productToView.listOfSmokerPremium" style="text-align: center">
                <ng-template pTemplate="header">
                    <tr>
                        <th>S/N</th>
                        <th>Min Age Group</th>
                        <th>Max Age Group</th>
                        <th>Premium Value</th>
                        <th>Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-smokepremium let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>

                        <td>
                            <input pInputText id="sminAge" name="sminAge_{{rowIndex}}" #sminAge="ngModel" type="number"
                                [(ngModel)]="smokepremium.minAgeGroup" required="true" class="bodyText, inputWidth" />
                        </td>

                        <td>
                            <input pInputText id="smaxAge" name="smaxAge_{{rowIndex}}" #smaxAge="ngModel" type="number"
                                [(ngModel)]="smokepremium.maxAgeGroup" required="true" class="bodyText, inputWidth" />
                        </td>

                        <td>
                            <input pInputText id="spremiumValue" name="spremiumValue_{{rowIndex}}"
                                #spremiumValue="ngModel" type="number" [(ngModel)]="smokepremium.premiumValue"
                                required="true" class="bodyText, inputWidth" />
                        </td>
                     

                        <td>
                            <p-button label="Delete" type="button" (click)="handleClickRemoveSmokerPremium(rowIndex)">
                            </p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
</div>
        <br />
        <div style="text-align: center">
            <input pInputText type="submit" value="Update" />
        </div>
    </div>

</form>
</div>

<br />
<br />
<br />
<br />

<app-footer></app-footer>