<app-header></app-header>

<br />
<h1 style="text-align: center" class="pageHeader">View my Profile</h1>
<br />

<h2 style="text-align: center" class="secondaryHeader">Company Information</h2>
<form
  #updateCompanyForm="ngForm"
  (ngSubmit)="update(updateCompanyForm)"
  style="height: 10%"
>
  <div style="margin-left: 30%; text-align: center">
    <table width="60%" style="border-spacing: 0 23px">
      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Name
        </td>
        <td>
          <input
            pInputText
            id="companyName"
            name="companyName"
            #companyName="ngModel"
            type="text"
            [(ngModel)]="company.companyName"
            required="true"
            class="bodyText, inputWidth"
            [disabled]="toggleCompanyName"
            ngClass="{'bodyText, inputWidth'} : false, {'bodyText, inputWidth'} : true"
          />
          <p-button
            *ngIf="toggleCompanyName"
            type="button"
            (click)="saveCompanyNameEdit()"
            >Edit</p-button
          >
        </td>
        <td>
          <div
            *ngIf="
              companyName.invalid &&
              (companyName.dirty || companyName.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="companyName.errors != null && companyName.errors.required"
            >
              Company Name is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Email
        </td>
        <td>
          <input
            pInputText
            id="companyEmail"
            name="companyEmail"
            #companyEmail="ngModel"
            type="text"
            [(ngModel)]="company.companyEmail"
            required="true"
            class="bodyText, inputWidth"
            [disabled]="toggleCompanyEmail"
          />
          <p-button
            *ngIf="toggleCompanyEmail"
            type="button"
            (click)="saveCompanyEmailEdit()"
            >Edit</p-button
          >
        </td>
        <td>
          <div
            *ngIf="
              companyEmail.invalid &&
              (companyEmail.dirty || companyEmail.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                companyEmail.errors != null && companyEmail.errors.required
              "
            >
              Company Email is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Business Registration Number
        </td>
        <td>
          <input
            pInputText
            id="businessRegNumber"
            name="businessRegNumber"
            #businessRegNumber="ngModel"
            type="text"
            [(ngModel)]="company.businessRegNumber"
            required="true"
            class="bodyText"
            style="width: 78%"
            [disabled]="true"
          />
        </td>
        <td>
          <div
            *ngIf="
              businessRegNumber.invalid &&
              (businessRegNumber.dirty ||
                businessRegNumber.touched ||
                submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                businessRegNumber.errors != null &&
                businessRegNumber.errors.required
              "
            >
              Business Registration Number is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Contact Number
        </td>
        <td>
          <input
            pInputText
            id="companyContactNumber"
            name="companyContactNumber"
            #companyContactNumber="ngModel"
            type="text"
            [(ngModel)]="company.companyContactNumber"
            required="true"
            class="bodyText, inputWidth"
            [disabled]="toggleCompanyNumber"
            ngClass="{'bodyText, inputWidth'} : true, {'bodyText, inputWidth'} : false"
          />
          <p-button
            *ngIf="toggleCompanyNumber"
            type="button"
            (click)="saveCompanyNumberEdit()"
            >Edit</p-button
          >
        </td>
        <td>
          <div
            *ngIf="
              companyContactNumber.invalid &&
              (companyContactNumber.dirty ||
                companyContactNumber.touched ||
                submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                companyContactNumber.errors != null &&
                companyContactNumber.errors.required
              "
            >
              Company Contact Number is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Contact Number
        </td>
        <td>
          <input
            pInputText
            id="companyUrl"
            name="companyUrl"
            #companyUrl="ngModel"
            type="text"
            [(ngModel)]="company.companyUrl"
            required="true"
            class="bodyText, inputWidth"
            [disabled]="toggleCompanyUrl"
            ngClass="{'bodyText, inputWidth'} : true, {'bodyText, inputWidth'} : false"
          />
          <p-button
            *ngIf="toggleCompanyUrl"
            type="button"
            (click)="saveUrlEdit()"
            >Edit</p-button
          >
        </td>
        <td>
          <div
            *ngIf="
              companyUrl.invalid &&
              (companyUrl.dirty || companyUrl.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="companyUrl.errors != null && companyUrl.errors.required"
            >
              Company Contact Number is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">Password</td>
        <td>
          <p-password
            id="password"
            name="password"
            #password="ngModel"
            type="text"
            [(ngModel)]="company.password"
            required="true"
            [toggleMask]="true"
            class="bodyText, inputWidth"
            [disabled]="true"
          ></p-password>
          <p-button
            *ngIf="togglePassword"
            type="button"
            (click)="showDialog($event)"
            >Edit</p-button
          >
        </td>
        <td>
          <div
            *ngIf="
              password.invalid &&
              (password.dirty || password.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="password.errors != null && password.errors.required"
            ></div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <br />
  <br />

  <h2 style="text-align: center" class="secondaryHeader">Point Of Contact</h2>

  <br />
  <div style="text-align: center">
    <p-button *ngIf="togglePoc" type="button" (click)="savePocEdit()"
      >Edit</p-button
    >
    &nbsp; &nbsp;
    <p-button
      *ngIf="!togglePoc"
      label="Add Point of Contact"
      type="button"
      (click)="handleClickAddPoc()"
    ></p-button>
  </div>
  <p-table
    id="tablePointOfContact"
    [value]="company.listOfPointOfContacts"
    dataKey = "pocEmail"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="p-datatable-thead" style="width: 7%; text-align: center">
          S/N
        </th>
        <th style="text-align: center" colspan="2">Point Of Contact Name</th>
        <th style="text-align: center" colspan="2">
          Point Of Contact Mobile Number
        </th>
        <th style="text-align: center" colspan="2">
          Point Of Contact Office Number
        </th>
        <th style="text-align: center" colspan="2">Point Of Contact Email</th>
        <th style="width: 7%; text-align: center">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-poc>
      <tr>
        <td style="text-align: center">{{ rowIndex + 1 }}</td>
        <td>
          <input
            pInputText
            name="pocName"
            #pocName="ngModel"
            type="text"
            [(ngModel)]="poc.pocName"
            required="true"
            [disabled]="togglePoc"
          />
        </td>
        <td>
          <div
            *ngIf="
              pocName.invalid && (pocName.dirty || pocName.touched || submitted)
            "
            class="errorText"
          >
            <div *ngIf="pocName.errors != null && pocName.errors.required">
              POC Name is required.
            </div>
          </div>
        </td>

        <td>
          <input
            pInputText
            name="pocMobileNumber"
            #pocMobileNumber="ngModel"
            type="text"
            [(ngModel)]="poc.pocMobileNumber"
            required="true"
            [disabled]="togglePoc"
          />
        </td>
        <td>
          <div
            *ngIf="
              pocMobileNumber.invalid &&
              (pocMobileNumber.dirty || pocMobileNumber.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                pocMobileNumber.errors != null &&
                pocMobileNumber.errors.required
              "
            >
              POC Mobile Number is required.
            </div>
          </div>
        </td>

        <td>
          <input
            pInputText
            name="pocOfficeNumber"
            #pocOfficeNumber="ngModel"
            type="text"
            [(ngModel)]="poc.pocOfficeNumber"
            required="true"
            [disabled]="togglePoc"
          />
        </td>
        <td>
          <div
            *ngIf="
              pocOfficeNumber.invalid &&
              (pocOfficeNumber.dirty || pocOfficeNumber.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                pocOfficeNumber.errors != null &&
                pocOfficeNumber.errors.required
              "
            >
              POC Office Number is required.
            </div>
          </div>
        </td>

        <td>
          <input
            pInputText
            name="pocEmail"
            #pocEmail="ngModel"
            type="text"
            [(ngModel)]="poc.pocEmail"
            required="true"
            [disabled]="togglePoc"
          />
        </td>
        <td>
          <div
            *ngIf="
              pocEmail.invalid &&
              (pocEmail.dirty || pocEmail.touched || submitted)
            "
            class="errorText"
          >
            <div *ngIf="pocEmail.errors != null && pocEmail.errors.required">
              POC Email is required.
            </div>
          </div>
        </td>

        <td>
          <button
            (click)="confirm(rowIndex)"
            pButton
            icon="pi pi-cross"
            label="Delete"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br />

  <div style="text-align: center">
    <input pInputText type="submit" value="Update" />
  </div>
  <p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <button type="button" (click)="showDeactivateDialog()" icon="pi pi-info-circle" >Deactive your account</button>
</form>
<br />
<br />
<br />
<br />
<br />
<br />
<p-toast></p-toast>
<p-dialog header="Deactive Account" 
[(visible)]="dialogDeactivateAccount"  
[closable]="true"
[resizable]="false"
[draggable]="false"
[dismissableMask]="true" >
    <p>Are you sure that you want to deactivate your account? </p>
    <button type="button" (click)="hideDeactiveDialog()" icon="pi pi-info-circle" >Cancel</button>
    &nbsp;
    <button type="button" (click)="deactiveAccount()" icon="pi pi-info-circle" >Deactive your account</button>
</p-dialog>
<p-dialog
  id="changePasswordDialog"
  name="changePasswordDialog"
  header="Change Password"
  [(visible)]="display"
  [closable]="true"
  [resizable]="false"
  [draggable]="false"
  [dismissableMask]="true"
>
  <div id="dialogFormForUpdatePassword">
    <form
      #changePasswordForm="ngForm"
      (ngSubmit)="updatePassword(changePasswordForm)"
      style="height: 10%"
    >
      <div style="text-align: center; margin: 0 auto">
        <table width="70%" style="border-spacing: 0 23px">
          <tr>
            <td class="bodyText">Old Password:</td>
            <td>
              <p-password
                id="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="oldPassword"
                required="true"
                [toggleMask]="true"
                class="bodyText, inputWidth"
              ></p-password>
            </td>
          </tr>

          <tr>
            <td class="bodyText">New Password:</td>
            <td>
              <p-password
                id="password"
                name="password"
                #password="ngModel"
                type="text"
                [(ngModel)]="newPassword"
                required="true"
                [toggleMask]="true"
                class="bodyText, inputWidth"
              ></p-password>
            </td>
          </tr>

          <tr>
            <td class="bodyText">Repeat New Password:</td>
            <td>
              <p-password
                id="password"
                name="password"
                #password="ngModel"
                type="text"
                [(ngModel)]="repeatNewPassword"
                required="true"
                [toggleMask]="true"
                class="bodyText, inputWidth"
              ></p-password>
            </td>
          </tr>
        </table>
      </div>
      <div style="text-align: center">
        <input pInputText type="submit" value="Change Password" />
      </div>
    </form>
  </div>
</p-dialog>
<app-footer></app-footer>
