<app-header></app-header>

<br />
<br />
<h1 class="pageHeader">View my Profile</h1>
<br />
<br />

<h2 class="secondaryHeader">Company Information</h2>
<form
  #updateCompanyForm="ngForm"
  (ngSubmit)="update(updateCompanyForm)"
  style="height: 10%"
>
  <div style="margin: center">
    <table width="60%" style="border-spacing: 0 23px">
      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Name
        </td>
        <td>
          <input
            pInputText
            id="companyName"
            name="companyName"
            #companyName="ngModel"
            type="text"
            [(ngModel)]="company.companyName"
            required="true"
            class="bodyText, inputWidth"
            [disabled]="true"
          />
        </td>
        <td>
          <div
            *ngIf="
              companyName.invalid &&
              (companyName.dirty || companyName.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="companyName.errors != null && companyName.errors.required"
            >
              Company Name is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Email
        </td>
        <td>
          <input
            pInputText
            id="companyEmail"
            name="companyEmail"
            #companyEmail="ngModel"
            type="text"
            [(ngModel)]="company.companyEmail"
            required="true"
            class="bodyText, inputWidth"
            [disabled]="true"
          />
        </td>
        <td>
          <div
            *ngIf="
              companyEmail.invalid &&
              (companyEmail.dirty || companyEmail.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                companyEmail.errors != null && companyEmail.errors.required
              "
            >
              Company Email is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Business Registration Number
        </td>
        <td>
          <input
            pInputText
            id="businessRegNumber"
            name="businessRegNumber"
            #businessRegNumber="ngModel"
            type="text"
            [(ngModel)]="company.businessRegNumber"
            required="true"
            class="bodyText, inputWidth"
            [disabled]="true"
          />
        </td>
        <td>
          <div
            *ngIf="
              businessRegNumber.invalid &&
              (businessRegNumber.dirty ||
                businessRegNumber.touched ||
                submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                businessRegNumber.errors != null &&
                businessRegNumber.errors.required
              "
            >
              Business Registration Number is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Contact Number
        </td>
        <td>
          <input
            pInputText
            id="companyContactNumber"
            name="companyContactNumber"
            #companyContactNumber="ngModel"
            type="text"
            [(ngModel)]="
              company.companyContactNumber
            "
            required="true"
            class="bodyText, inputWidth"
            [disabled]="true"
          />
        </td>
        <td>
          <div
            *ngIf="
              companyContactNumber.invalid &&
              (companyContactNumber.dirty ||
                companyContactNumber.touched ||
                submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                companyContactNumber.errors != null &&
                companyContactNumber.errors.required
              "
            >
              Company Contact Number is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">Password</td>
        <td>
          <p-password
            id="password"
            name="password"
            #password="ngModel"
            type="text"
            [(ngModel)]="company.password"
            required="true"
            [toggleMask]="true"
            class="bodyText, inputWidth"
            [disabled]="true"
          ></p-password>
        </td>
        <td>
          <div
            *ngIf="
              password.invalid &&
              (password.dirty || password.touched || submitted)
            "
            class="errorText"
          >
            <div *ngIf="password.errors != null && password.errors.required">
              Password is required.
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <app-footer></app-footer>
</form>
