<app-header></app-header>


<p-toast></p-toast>

<h2 style="text-align: center" class="pageHeader">Forget Password</h2>
<br />

<h2 class="secondaryHeader" style="text-align: center;">Enter email to receive an OTP</h2>

<div *ngIf="resultSuccess == true" style="color: blue">
    {{ message }}
</div>

<div *ngIf="resultError == true" style="color: red">
    {{ message }}
</div>

<form #enterEmailForm="ngForm" (ngSubmit)="enterEmail(enterEmailForm)" style="height: 10%">
<table style="border-spacing: 0 23px; margin-left: 35%; width: 60% ">
        <tr>
            <td style="font-weight: bold; width: 20%" class="bodyText">
                Company Email
            </td>
            <td>
                <input pInputText id="emailToReset" name="emailToReset" #emailToReset="ngModel" type="text"
                    [(ngModel)]="email" required="true" class="bodyText, inputWidth" />
            </td>

            <td>
                <div *ngIf="
                emailToReset.invalid &&
                (emailToReset.dirty || emailToReset.touched || submitted)
              " class="errorText">
                    <div *ngIf="emailToReset.errors != null && emailToReset.errors.required">
                        Email is required.
                    </div>
                </div>
            </td>
        </tr>

</table>

 <div style="text-align: center">
        <input pInputText type="submit" value="Get OTP" />
      </div>
      </form>










