<app-header></app-header>


<div *ngIf="!submitted">
    <h2 style="text-align: center" class="secondaryHeader">
    Forget Password
    </h2>

    <form #enterEmailForm="ngForm" (ngSubmit)="enterEmail(enterEmailForm)" style="height: 10%">

        <table style="margin: 0 auto" cellspacing="20px">
            <tr>
                <td>Company Email</td>
                    <td>
                        <input pInputText id="emailToReset" name="emailToReset" #emailToReset="ngModel" type="text"
                            [(ngModel)]="email" required="true" class="bodyText, inputWidth" />
                    </td>
                </tr>

        </table>

        <div style="text-align: center">
        
            <input pInputText type="submit" value="Get OTP" />
        </div>
      
    </form>
</div>


<div *ngIf="submitted" style="text-align: center">  
   <p>
    You can now reset your password with the given OTP!
    </p>

    <p-button (click)="keyNewPassword()">Enter New Password</p-button>

</div>

<p-toast></p-toast>







