<h2 style="text-align: center" class="pageHeader">Create New Product</h2>
<br />

<div *ngIf="resultSuccess == true" style="color: blue">
    {{ message }}
</div>

<div *ngIf="resultError == true" style="color: red">
    {{ message }}
</div>

<h2 class="secondaryHeader">Product Information</h2>
<form #createCompanyForm="ngForm" (ngSubmit)="create(createProductForm)" style="height: 10%">

    <table width="60%" style="border-spacing: 0 23px" columns>
        <tr>
            <td width="20%" style="font-weight: bold" class="bodyText">
                Product Name
            </td>
            <td>
                <input pInputText id="productName" name="productName" #productName="ngModel" type="text"
                    [(ngModel)]="product.productName" required="true" class="bodyText, inputWidth" />
            </td>
            <td>
                <div *ngIf="
                productName.invalid &&
                (productName.dirty || productName.touched || submitted)
              " class="errorText">
                    <div *ngIf="productName.errors != null && productName.errors.required">
                        Product Name is required.
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td width="20%" style="font-weight: bold" class="bodyText">
                Product Description
            </td>
            <td>
                <input pInputText id="productDescription" name="productDescription" #productDescription="ngModel"
                    type="text" [(ngModel)]="product.description" required="true" class="bodyText, inputWidth" />
            </td>
            <td>
                <div *ngIf="
                productDescription.invalid &&
                (productDescription.dirty || productDescription.touched || submitted)
              " class="errorText">
                    <div *ngIf="productDescription.errors != null && productDescription.errors.required">
                        Product description is required.
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td width="20%" style="font-weight: bold" class="bodyText">
                Product Coverage Term
            </td>
            <td>
                <input pInputText id="coverageTerm" name="coverageTerm" #coverageTerm="ngModel" type="text"
                    [(ngModel)]="product.coverageTerm" required="true" class="bodyText, inputWidth" />
            </td>
            <td>
                <div *ngIf="
                coverageTerm.invalid &&
                (coverageTerm.dirty || coverageTerm.touched || submitted)
              " class="errorText">
                    <div *ngIf="coverageTerm.errors != null && coverageTerm.errors.required">
                        Product coverage term is required.
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td width="20%" style="font-weight: bold" class="bodyText">
                Product Assured Sum
            </td>
            <td>
                <input pInputText id="assuredSum" name="assuredSum" #assuredSum="ngModel" type="text"
                    [(ngModel)]="product.assuredSum" required="true" class="bodyText, inputWidth" />
            </td>
            <td>
                <div *ngIf="
                assuredSum.invalid &&
                (assuredSum.dirty || assuredSum.touched || submitted)
              " class="errorText">
                    <div *ngIf="
                    assuredSum.errors != null &&
                    assuredSum.errors.required
                ">
                        Product assured sum is required.
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td width="20%" style="font-weight: bold" class="bodyText">
                Product Premium Term
            </td>
            <td>
                <input pInputText id="premiumTerm" name="premiumTerm" #premiumTerm="ngModel" type="text"
                    [(ngModel)]="product.premiumTerm" required="true" class="bodyText, inputWidth" />
            </td>
            <td>
                <div *ngIf="
                premiumTerm.invalid &&
                (premiumTerm.dirty ||
                premiumTerm.touched ||
                  submitted)
              " class="errorText">
                    <div *ngIf="
                    premiumTerm.errors != null &&
                    premiumTerm.errors.required
                ">
                        Product Premium Term is required.
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td width="20%" style="font-weight: bold" class="bodyText">Password</td>
            <td>
                <input id="avgInterestRate" name="avgInterestRate" #avgInterestRate="ngModel" type="text"
                    [(ngModel)]="product.averageInterestRate" required="true" class="bodyText, inputWidth" />
            </td>
            <td>
                <div *ngIf="
                avgInterestRate.invalid &&
                (avgInterestRate.dirty || avgInterestRate.touched || submitted)
              " class="errorText">
                    <div *ngIf="avgInterestRate.errors != null && avgInterestRate.errors.required">
                        Average Interest Rate is required.
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td width="20%" style="font-weight: bold" class="bodyText">Password</td>
            <td>
                <input id="avgInterestRate" name="avgInterestRate" #avgInterestRate="ngModel" type="text"
                    [(ngModel)]="product.averageInterestRate" required="true" class="bodyText, inputWidth" />
            </td>
            <td>
                <div *ngIf="
                avgInterestRate.invalid &&
                (avgInterestRate.dirty || avgInterestRate.touched || submitted)
              " class="errorText">
                    <div *ngIf="avgInterestRate.errors != null && avgInterestRate.errors.required">
                        Average Interest Rate is required.
                    </div>
                </div>
            </td>
        </tr>


    </table>

</form>