.bodyText {
  font-size: 16px;
  font-family: sans-serif;
}

.errorText {
  list-style-type: none;
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 20px;
  color: red;
}

.pageHeader {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
}

.secondaryHeader {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.inputWidth {
  width: 60%;
  background-color: transparent;
}

td {
  width: 80%;
  background-color: transparent;
}

#tag div {
  background: URL("http://localhost:8080/MoolahEnterprise-war/resources/images/updated_createCompany.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

:host >>> .p-inputtext {
  margin: 0;
  background-color: white;
  border: 1px solid rgb(145, 145, 145);
}

