/* You can add global styles to this file, and also import other style files */

.footer {
	display: block;
    position: fixed;
    bottom: 2px;
    width: 100%;
	padding: 2px 2px 2px 2px;
	clear: both;
	background-color: whitesmoke;
}
