<app-header></app-header>

<h2 style="text-align: center" class="pageHeader">Create New Company</h2>
<br />

<div *ngIf="resultSuccess == true" style="color: blue">
  {{ message }}
</div>

<div *ngIf="resultError == true" style="color: red">
  {{ message }}
</div>

<h2 style="text-align: center" class="secondaryHeader">Company Information</h2>
<form
  #createCompanyForm="ngForm"
  (ngSubmit)="create(createCompanyForm)"
  style="height: 10%"
>
  <div style="text-align: center">
    <table width="60%" style="margin-left: 30%; border-spacing: 0 23px">
      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Name
        </td>
        <td>
          <input
            pInputText
            id="companyName"
            name="companyName"
            #companyName="ngModel"
            type="text"
            [(ngModel)]="createCompanyEntityReq.companyEntity.companyName"
            required="true"
            class="bodyText, inputWidth"
          />
        </td>
        <td>
          <div
            *ngIf="
              companyName.invalid &&
              (companyName.dirty || companyName.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="companyName.errors != null && companyName.errors.required"
            >
              Company Name is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Email
        </td>
        <td>
          <input
            pInputText
            id="companyEmail"
            name="companyEmail"
            #companyEmail="ngModel"
            type="text"
            [(ngModel)]="createCompanyEntityReq.companyEntity.companyEmail"
            required="true"
            class="bodyText, inputWidth"
          />
        </td>
        <td>
          <div
            *ngIf="
              companyEmail.invalid &&
              (companyEmail.dirty || companyEmail.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                companyEmail.errors != null && companyEmail.errors.required
              "
            >
              Company Email is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Business Registration Number
        </td>
        <td>
          <input
            pInputText
            id="businessRegNumber"
            name="businessRegNumber"
            #businessRegNumber="ngModel"
            type="text"
            [(ngModel)]="createCompanyEntityReq.companyEntity.businessRegNumber"
            required="true"
            class="bodyText, inputWidth"
          />
        </td>
        <td>
          <div
            *ngIf="
              businessRegNumber.invalid &&
              (businessRegNumber.dirty ||
                businessRegNumber.touched ||
                submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                businessRegNumber.errors != null &&
                businessRegNumber.errors.required
              "
            >
              Business Registration Number is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company Contact Number
        </td>
        <td>
          <input
            pInputText
            id="companyContactNumber"
            name="companyContactNumber"
            #companyContactNumber="ngModel"
            type="text"
            [(ngModel)]="
              createCompanyEntityReq.companyEntity.companyContactNumber
            "
            required="true"
            class="bodyText, inputWidth"
          />
        </td>
        <td>
          <div
            *ngIf="
              companyContactNumber.invalid &&
              (companyContactNumber.dirty ||
                companyContactNumber.touched ||
                submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                companyContactNumber.errors != null &&
                companyContactNumber.errors.required
              "
            >
              Company Contact Number is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">
          Company URL
        </td>
        <td>
          <input
            pInputText
            id="companyUrl"
            name="companyUrl"
            #companyUrl="ngModel"
            type="text"
            [(ngModel)]="createCompanyEntityReq.companyEntity.companyUrl"
            required="true"
            class="bodyText, inputWidth"
          />
        </td>
        <td>
          <div
            *ngIf="
              companyUrl.invalid &&
              (companyUrl.dirty || companyUrl.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="companyUrl.errors != null && companyUrl.errors.required"
            >
              Company URL is required.
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td width="20%" style="font-weight: bold" class="bodyText">Password</td>
        <td>
          <p-password
            id="password"
            name="password"
            #password="ngModel"
            type="text"
            [(ngModel)]="createCompanyEntityReq.companyEntity.password"
            required="true"
            [toggleMask]="true"
            class="bodyText, inputWidth"
          ></p-password>
        </td>
        <td>
          <div
            *ngIf="
              password.invalid &&
              (password.dirty || password.touched || submitted)
            "
            class="errorText"
          >
            <div *ngIf="password.errors != null && password.errors.required">
              Password is required.
            </div>
          </div>
        </td>
      </tr>
    </table>

    <p-fileUpload
      name="myfile[]"
      url="./upload.php"
      accept="image/*"
    ></p-fileUpload>
  </div>











  <h2 class="secondaryHeader">Point Of Contact</h2>
  <div style="text-align: center">
    <p-button
      label="Add Point of Contact"
      type="button"
      (click)="handleClickAdd()"
    ></p-button>
  </div>
  <p-table
    id="tablePointOfContact"
    [value]="createCompanyEntityReq.listOfPointOfContacts"
    class=".ui-datatable"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="p-datatable-thead" style="width: 7%; text-align: center">
          S/N
        </th>
        <th style="text-align: center" colspan="2">Point Of Contact Name</th>
        <th style="text-align: center" colspan="2">
          Point Of Contact Mobile Number
        </th>
        <th style="text-align: center" colspan="2">Point Of Contact Email</th>
        <th style="width: 7%; text-align: center">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-poc let-rowIndex="rowIndex">
      <tr>
        <td style="text-align: center">{{ rowIndex + 1 }}</td>

        <td>
          <input
            pInputText
            id="pocName"
            name="pocName"
            #pocName="ngModel"
            type="text"
            [(ngModel)]="poc.pocName"
            required="true"
          />
        </td>
        <td>
          <div
            *ngIf="
              pocName.invalid && (pocName.dirty || pocName.touched || submitted)
            "
            class="errorText"
          >
            <div *ngIf="pocName.errors != null && pocName.errors.required">
              POC Name is required.
            </div>
          </div>
        </td>

        <td>
          <input
            pInputText
            id="pocMobileNumber"
            name="pocMobileNumber"
            #pocMobileNumber="ngModel"
            type="text"
            [(ngModel)]="poc.pocMobileNumber"
            required="true"
          />
        </td>
        <td>
          <div
            *ngIf="
              pocMobileNumber.invalid &&
              (pocMobileNumber.dirty || pocMobileNumber.touched || submitted)
            "
            class="errorText"
          >
            <div
              *ngIf="
                pocMobileNumber.errors != null &&
                pocMobileNumber.errors.required
              "
            >
              POC Mobile Number is required.
            </div>
          </div>
        </td>

        <td>
          <input
            pInputText
            id="pocEmail"
            name="pocEmail"
            #pocEmail="ngModel"
            type="text"
            [(ngModel)]="poc.pocEmail"
            required="true"
          />
        </td>
        <td>
          <div
            *ngIf="
              pocEmail.invalid &&
              (pocEmail.dirty || pocEmail.touched || submitted)
            "
            class="errorText"
          >
            <div *ngIf="pocEmail.errors != null && pocEmail.errors.required">
              POC Email is required.
            </div>
          </div>
        </td>

        <td>
          <p-button
            label="Delete"
            type="button"
            (click)="handleClickRemove(rowIndex)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br />
  <div style="text-align: center">
    <p-button (click)="clear()">Clear</p-button>
    &nbsp;
    <input pInputText type="submit" value="Create" />
  </div>
</form>
<br />
<br />
<br />
<br />
<br />
<br />
<app-footer></app-footer>
